.paymaster-item {
  padding: 20px;
  display: flex;
  text-align: left;
  margin-bottom: 30px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -2px rgb(0 0 0 / 10%);
  flex-direction: column;
  margin-right: 30px;
}

.paymaster-item-pointer {
  cursor: pointer;
}

.paymaster-item:hover {
  background: #0e76fd10;
}

.paymaster-item h2 span {
  font-size: 16px;
  font-weight: 300;
  margin-left: 6px;
}
